@media (min-width: 800px) {
  nav i.fa.fa-bars{
  display:none;
 }
}

@media (max-width: 800px) {
  .main-nav ul {
    display: none;
    padding: 1px;
    clear: both;
  }
}

h1 {
  font-size: 32px;
}

.template {
  display: none;
}

.name {
  text-align: center;
  padding: 10px;
}

.main-nav {
  margin-right: 10px;
}

#projects {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.tab:hover {
  background-color: red;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

#name {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.list{
  text-align: center;
}

.tab-content {
  display: none;
  text-align: center;
  border-style: inset;
  border-color: black;
  width: 50%;
  margin: auto;
}

.tab {
  display: inline;
}

.fa-bars {
  margin-left: 100px;
}
