@media (min-width: 800px) {
  nav i.fa.fa-bars{
  display:none;
 }
}

@media (max-width: 800px) {
  .main-nav ul {
    display: none;
    padding: 1px;
    clear: both;
  }
}

.template {
  display: none;
}

.name {
  text-align: center;
  padding: 10px;
}

.main-nav {
  text-align: right;
  margin-right: 10px;
}

#projects {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#name {
  text-align:center;
  margin: 10px;
  padding: 10px;
}
